[data-y-top] {
    transform: translate(0, -50px);
    opacity: 0;
}

[data-y-bottom] {
    transform: translate(0, 50px);
    opacity: 0;
}

[data-x-left] {
    transform: translate(-50px, 0);
    opacity: 0;
}

[data-x-right] {
    transform: translate(50px, 0);
    opacity: 0;
}

[data-opacity-only] {
    opacity: 0;
}
