.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 15;

    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    overflow-y: auto;

    &._open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    // .popup__container

    &__container {
    }

    // .popup__body

    &__body {
        @include adaptive-value("padding-top", 50, 30, 1);
        @include adaptive-value("padding-bottom", 50, 30, 1);
    }

    // .popup__content

    &__content {
        max-width: 500px;
        width: 100%;
    }

    // .popup__close

    &__close {
        margin-left: auto;
        display: block;

        @media (min-width: 769px) {
            transform: translate(50%, -50%);
        }

        img,
        svg {
            pointer-events: none;

            @include adaptive-value("width", 25, 20, 1);
            @include adaptive-value("height", 25, 20, 1);
        }
    }
}
